<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h2>Documentazione</h2>
          <p>Cliccare il pulsante sotto per accedere alla documentazione su dropbox. Successivamente verrà spostato tutto su git o bitbucket</p>
          <p><a class="btn btn-primary" href="https://www.dropbox.com/sh/n2e26rr641abdbu/AACaJ_ApMq7irYaNIvqTAEq1a?dl=0" target="_blank">Dropbox »</a></p>
        </div>
        <div class="col-sm-6">
          <h2>Supporto</h2>
          <p>Cliccare il pulsante sotto per accedere al gruppo di trello </p>
          <p><a class="btn btn-primary" href="https://trello.com/invite/b/YjhayKaM/b3997b9b2fb7c07c996276a46569a951/home" target="_blank">Trello »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2>Learning GIT</h2>
          <p>Cliccare il pulsante sotto per accedere al sito per gli esercizi di git</p>
          <p><a class="btn btn-primary" href="http://learngitbranching.js.org" target="_blank">GIT »</a></p>
        </div>
        <div class="col-sm-6">
          <h2>Satellizer</h2>
          <p>Per vedere la libreria impiegata per fare la social login</p>
          <p><a class="btn btn-primary" href="https://github.com/sahat/satellizer" target="_blank">Satellizer »</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
